header {
    background-color:#03A9F4 ;
    margin: 0%;
}

h3 {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: bold;
    font-style: italic;
    font-size: 120%;
    line-height: 155%;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
    padding: 0%;
    
  }

a {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

footer{
    background-color:#03A9F4;
}

span{
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
