<div class="col-md-6 offset-md-3">
    <h3>Actualizar Producto</h3>
    
    <form (ngSubmit)="onSubmit()">
        
        <!-- <div class="form-group">
            <label>Tipo de Cuenta</label>
            <input type="text" class="form-control" id="accType"
                [(ngModel)] = "account.accType" name="accType">
        </div> -->

        <div class="form-group">
            <label style="margin-right: 10px">Estado</label>
            <select id="status" [(ngModel)] = "account.status" name="status" style="display:block" style="margin-top: 10px">
                <option value="Activa">Activa</option>
                <option value="Inactiva">Inactiva</option>
                <option value="Cancelada">Cancelada</option>
            </select>
        </div>
    
        <!-- <div class="form-group">
            <label>Saldo</label>
            <input type="text" class="form-control" id="accB"
                [(ngModel)] = "account.accB" name="accB">
        </div>
    
        <div class="form-group" style="margin-top: 10px">
            <label>¿Extenta GMF?</label>
            <label style="margin-left: 10px">
            <input type="radio" class="form-control" id="gmf"
                [(ngModel)] = "account.gmf" name="gmf" [value]="true" >Sí
            </label>
            <label style="margin-left: 10px">
            <input type="radio" class="form-control" id="gmf"
                [(ngModel)] = "account.gmf" name="gmf" [value]="false">No
            </label>     
        </div> -->
                
        <button class = "btn btn-success" type="submit" style="margin-top: 10px">Actualizar</button>
    
    </form>
    </div>
