h2 {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-display: bold;
    font-size: 170%;
    line-height: 155%;
    font-weight: 500;
    text-align:left ;
    text-transform: uppercase;
    padding: 0%;
    margin-left: 100px;
    
  }