<body class="hero">
            
    <main>
        
      <div id="wrapper">
        <div>
          <h1>Juan Felpe Rendón Genez</h1>
          <h2>Programming Student</h2>

          <div>
            <p>Civil engineer with 3 years of experience in managing infrastructure projects in the public sector, both in conceptualization and detailed engineering projects and in infrastructure construction projects. I have effective communication skills, analytical capacity for decision making and willing to learn and embrace new challenges, seeking efficiencies in the execution of projects.</p>
            <a href="mailto:juanrendon1996@hotmail.com">juanrendon1996@hotmail.com</a>
            <div class="center">
              <button type="button" class="btn" onclick="location.href='http://www.linkedin.com/in/juan-felipe-rend%C3%B3n-genez-28819916a'">
              <img src="https://play-lh.googleusercontent.com/kMofEFLjobZy_bCuaiDogzBcUT-dz3BBbOrIEjJ-hqOabjK8ieuevGe6wlTD15QzOqw" 
                width="50px"
                height="50px"
                alt="">
              </button>
              <button type="button" class="btn" onclick="location.href='https://github.com/jfrendong'">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" 
                width="50px"
                height="50px"
                alt="">
              </button>
            </div>
          </div>
        </div>
      </div>  

    </main>  
  </body>
